
#nav {
  height: 120px;
  background: 	rgba(211,211,211, 0.9);
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}

#logo {
  color: white;
  padding-top: 10px;
  font-size: 50px;
  transition: all ease .5s;
}
#logo a:link, #logo a:hover{
  text-decoration: none;
  color: white;
}
#navStuff{
  padding-top: 30px;
  position: fixed;
}
#hero{
  padding: 65px;
}
#nav.shrink {
  height: 70px;
  transition: all ease .5s;
  background: rgba(200,200,200, .9); // Change background to black on scroll
}
#picLogo.shrink{
  height: 5px;
  width: 2px;
  transition: all ease .5s;
}

.spacer{
  padding: 12px;
}

#nav.shrink #logo {
  padding: 5px;
  font-size: 35px;
  color: black;
}
#nav.shrink #navStuff{
  padding-top: 15px;
  margin-top: auto;
  margin-bottom: auto;
  transition: all ease .5s;
}
#color{
  background-color: #33b5e5;
}
#fafsaButton a:hover, #fafsaButton, #fafsaButton a:link{
  color: white;
  text-decoration: none;
}
