
#nav {
  height: 120px;
  background: 	rgba(211,211,211, 0.9);
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}

#logo {
  color: black;
  padding-top: 40px;
  font-size: 50px;
  transition: all ease .5s;
}
#navStuff{
  padding-top: 100px;
  position: fixed;
}
#hero{
  padding: 65px;
}
#nav.shrink {
  height: 70px;
  transition: all ease .5s;
  background: rgba(200,200,200, .9); // Change background to black on scroll
}
#picLogo.shrink{
  height: 5px;
  width: 2px;
  transition: all ease .5s;
}
.navButton{
  color: white;
}

.spacer{
  padding: 12px;
}
#nav.shrink .navButton {
  color: white;
  transition: all ease .5s;
}
#nav.shrink #logo {
  padding: 10px;
  font-size: 35px;
  color: black;
}
#nav.shrink #navStuff{
  padding-top: 15px;
  margin-top: auto;
  margin-bottom: auto;
  transition: all ease .5s;
}
